<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://lib.baomitu.com/vex-js/4.0.1/js/vex.combined.min.js"></script>
  <script>vex.defaultOptions.className = 'vex-theme-wireframe'</script>
  <link href="http://lib.baomitu.com/vex-js/4.0.1/css/vex.min.css" rel="stylesheet">
  <link href="http://lib.baomitu.com/vex-js/4.0.1/css/vex-theme-os.min.css" rel="stylesheet">
  <link href="http://lib.baomitu.com/vex-js/4.0.1/css/vex-theme-wireframe.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
  <section class="webdesigntuts-workshop">
    <form method="post" id="form">
      <input id="project" type="text" placeholder="项目名称，允许数字、字母、下划线组合">
      <input id="email" type="email" placeholder="项目负责人邮箱">
      <input id="domain" type="text" placeholder="允许访问的域名，多个用逗号分隔">
      <button id="submit">提 交</button>
    </form>
  </section>
  <div class="footer">
      <input placeholder="试试？" id="try" />     
      <div class="switch">
          <input type="checkbox" name="toggle" id="toggle" checked>
          <label for="toggle">
            <i></i>
          </label>
          <span></span>
      </div>     
  </div>
 
  <script src="/static/biu.js/dist/biu.min.js"></script>
  <script src="/static/js/index.js"></script>
</body>

</html>