<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New ThinkJS Application</title>
<style>
*{padding: 0;margin: 0;font-size: 16px;line-height: 20px;font-family: arial;}
a, a:visited{color:#337ab7;text-decoration: none;}
header{padding: 70px 0 70px 0;background-color: #4A6495}
h1{font-size: 36px;color:#fff;font-weight: normal;}
code{  padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
.content{width: 1000px;margin: auto}
.wrap{width: 1000px;margin: auto}
.content{margin-top: 80px;}
input{
  padding:10px;
  width:400px;
}
</style>
</head>
<body>
  <header>
    <div class="wrap">
      <h1>A New App Created By ThinkJS</h1>
    </div>
  </header>
  <div class="content">
    <input id="text" type="text" placeholder="send a message" /><br>
    <input id="style" type="text" placeholder='style:{"color":"red","font-size":"300%"}' /><br>
    <input id="duration" type="text" placeholder="duration:default value is Math.random() * 10000" /><br>
    <button id="submit">send</button>
  </div>
  <script src="http://localhost:8000/biu.min.js"></script>
  <script>
    var biu = new Biu({
      socket:'http://localhost:8360',
      defaultQueue:[
        { text: '我是一个弹幕' },
        { text: '我是一个弹幕超级大的弹幕',style:{top:'0px',color:'red','font-size':'500%'} },
        { text: '2我是一个弹幕' },
        { text: '我是一个弹幕3' },
        { text: '我是一个弹幕4' },
        { text: '我是一个弹幕5' },
        { text: '6我是一个弹幕' },
      ],
      onMessage(mes){
        console.log(mes);
      }
    });
    biu.start();

    var btn = document.getElementById('submit');
    var text = document.getElementById('text');
    btn.addEventListener('click',function(){
      var msg = {
        text:text.value,
        style:style.value,
        duration:duration.value
      }
      biu.send(msg);
    })
  </script>
</body>
</html>
